*~
\#*
.\#*
.DS_Store
compiled/
/doc/
BuildUnreal/
Unreal/Crystals/Plugins/Crystals/Content/RealRareCrystals
Unreal/*/Content
Unreal/*/Binaries
Unreal/*/Build
Unreal/*/DerivedDataCache
Unreal/*/Intermediate
Unreal/*/Saved
*.bak
BuildUnreal.zip
Unreal.zip
out/
*.swp
